html {
    height: 100%;
    min-width: 700px;
    /*background-image: linear-gradient(180deg, #FFFFFF,#0c2350);*/
    background-image: url(/images/EW_BG_Offset.jpg);
    background-color: rgb(27, 27, 27);
    background-repeat: no-repeat;
    background-size: cover;
    resize:both;
}
footer{
    margin-top: 100px;
    box-shadow: 0 100vh 0 100vh rgba(19, 19, 19, 0.822);
    color:rgb(255, 255, 255);
    background-color: rgba(19, 19, 19, 0.822);
}
.container {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
.headline{
    font-size: 20px;
}

.logo {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 500px;
    padding: 1.5rem 0;
    align-items: center;
}

.main {
    padding: 20px;
}

form {
    background-color: #FFFFFF;
    padding-left: 8px;
    border-radius: 5px;
    display: flex;
}

input[type="text"] {
    height: 40px;
    outline: 0;
    border: none;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: #595959;
    flex-grow: 1;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    display:flex;
}

button:hover {
    cursor: pointer;
   /* background-color: lightcoral;*/
}
.icon{
    width:30px;
    padding-bottom: 5px;
    padding-top: 3px;
}

ul {
    height:500px; width:100%;
    padding-left: 0px;
    list-style:none; 
    overflow:auto;
    overflow-y: scroll;
}

li {
    font-family: 'Raleway', sans-serif;
    /*background-image: url(Images/PinClipart.com_meteor-clipart_350973.png);*/
    background-size: contain;
    display:inline-block;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    padding: 8px 20px;
    font-size: 1rem;
    color: #e2e2e2;
}

li:hover{
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.637);
}

i {
    pointer-events: none;
}

#questTitle{
    padding:5px;
    margin-top: 20px;
    color: rgb(238, 238, 238);
    text-align: center;
    background-color: rgba(59, 59, 59, 0.575);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#progressStatus {
    margin-top:3px;
    padding:0px;
    width: 100%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    background-color: rgba(255, 255, 255, 0.397);
    position:relative;
}

#progressBarCurrent {
    width: 0%;
    height: 4px;
    background-color: rgba(253, 165, 83, 0.849);
    background-image: linear-gradient(90deg,rgb(255, 183, 116),rgba(255, 208, 78, 0.705));
    /*border-top-left-radius: 15px;*/
    text-align: center;
    line-height: 32px;
    color: black;
}
#progressBarTotal {
    width: 100%;
    height: 15px;
    background-color: rgba(219, 58, 58, 0.664);
    background-image: linear-gradient(90deg,rgba(255, 170, 170, 0.644),rgba(255, 88, 88, 0.411));
    /*border-bottom-left-radius: 10px;*/
    text-align: center;
    line-height: 32px;
    color: black;
    
}

#percentageCurrent {
    margin-top: 1px;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.575);
    color: rgb(238, 238, 238);
   /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}
#percentageTotal {
    text-align: center;
    background-color: rgba(59, 59, 59, 0.575);
    color: rgb(238, 238, 238);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.currentArcColor{
    color:rgb(255, 183, 116);
}
/*
.msqColor{
    color: rgb(219, 58, 58);
}*/

/*Markers do not adjust any options in here except color*/
#markArr,#markHw,#markSb,#markShb{
    color:rgb(0, 0, 0);
    font-size: 11px;
    position:absolute;
    margin-top:-2.6px; 
}
#markArr{
    /*left: 33.7%; NO LABEL*/
    
    left: 21.4%;
    /*color:rgb(204, 52, 52);*/
}
#markHw{
    /*left: 53.7%; NO LABEL*/
    left: 42.7%;
    /*color:rgb(37, 56, 99);*/
}
#markSb{
    /*left: 77.7%; NO LABEL*/
    left: 68.2%;
    /*color:rgb(168, 146, 18);*/
}
#markShb{
    left: 86.7%;
   /* color:black;*/
}

#markArr:after,#markHw:after,#markSb:after{
    font-size: 15.5px;
    color:black;
    content: "|";
}
#markShb:after{
    font-size:15.5px;
    content:"";
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
background: #ffffff6b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
background: rgb(109, 109, 109);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(65, 65, 65);
}

