html {
    height: 100vh;
    min-width: 600px;
    /*background-image: linear-gradient(180deg, #FFFFFF,#0c2350);*/
    background-image: url(/images/EW_BG_Offset.jpg);
    background-color: rgb(27, 27, 27);
    background-repeat: no-repeat;
    background-size: cover;
    resize:both;
}

.container {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
.headline{
    font-size: 20px;
}

.logo {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 500px;
    padding: 1.5rem 0;
    align-items: center;
}

.main {
    padding: 20px;
}

form {
    background-color: #FFFFFF;
    padding-left: 8px;
    border-radius: 5px;
    display: flex;
}

input[type="text"] {
    height: 40px;
    outline: 0;
    border: none;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: #595959;
    flex-grow: 1;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    display:flex;
}

button:hover {
    cursor: pointer;
   /* background-color: lightcoral;*/
}
.icon{
    width:30px;
    padding-bottom: 5px;
    padding-top: 3px;
}

ul {
    height:700px; width:100%;
    padding-left: 0px;
    list-style:none; 
    overflow:hidden;
    overflow-y: scroll;
}

li {
    font-family: 'Raleway', sans-serif;
    /*background-image: url(Images/PinClipart.com_meteor-clipart_350973.png);*/
    background-size: contain;
    display:inline-block;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    padding: 8px 20px;
    font-size: 1rem;
    color: #e2e2e2;
}

li:hover{
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.637);
}

i {
    pointer-events: none;
}

#questTitle{
    padding:5px;
    margin-top: 20px;
    color: rgb(238, 238, 238);
    text-align: center;
    background-color: rgba(59, 59, 59, 0.575);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#progressStatus {
    margin-top:3px;
    padding:0px;
    width: 100%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    background-color: rgba(255, 255, 255, 0.397);
}

#progressBarCurrent {
    width: 0%;
    height: 5px;
    background-color: #ff9673;
    background-image: linear-gradient(90deg,rgb(129, 15, 15),rgba(134, 6, 6, 0.534));
    /*border-top-left-radius: 15px;*/
    text-align: center;
    line-height: 32px;
    color: black;
}
#progressBarTotal {
    width: 0%;
    height: 10px;
    background-color: #c70000b2;
    background-image: linear-gradient(90deg,rgb(201, 40, 40),rgba(255, 144, 144, 0.507));
    /*border-bottom-left-radius: 10px;*/
    text-align: center;
    line-height: 32px;
    color: black;
}

#percentageCurrent {
    margin-top: 1px;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.575);
    color: rgb(238, 238, 238);
   /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}
#percentageTotal {
    text-align: center;
    background-color: rgba(59, 59, 59, 0.575);
    color: rgb(238, 238, 238);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #ffffff6b;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(109, 109, 109);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(65, 65, 65);
}